/* AddProductDialog.css */

.add-product-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: height 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dialog-title {
  margin: 0;
  color: #1976d2; /* Blue color */
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.input-field {
  margin-top: 5px;
  position: relative;
}

.input-field input,
.input-field textarea {
  width: 100%;
  border: 0;
  margin-top: 10px;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, rgba(60, 66, 87, 0.16) 0 0 0 1px, 0 0 0 0, 0 0 0 0, 0 0 0 0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color .24s, box-shadow .24s;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
  color: #1976d2; /* Blue color for placeholder */
}

.input-field input:focus,
.input-field textarea:focus {
  box-shadow: 0 0 0 0, rgba(58, 151, 212, 0.36) 0 0 0 4px, 0 0 0 0, rgba(60, 66, 87, 0.16) 0 0 0 1px, 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.distributor-toggle {
  color: #1976d2;
  cursor: pointer;
  margin-bottom: 10px;
}

.distributor-field {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  align-items: flex-end; /* Align items to the bottom */
  margin-bottom: 20px;
}

.distributor-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: #0077ff;
  margin-right: 10px;
}

.distributor-button:hover {
  background-color: #8bc9ff; /* Darker shade of blue */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.save-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  margin: 10px;
  background-color: #1976d2;
  color: #fff;
}

.cancel-button {
  background-color: #ccc;
  color: #fff;
}
