


.create-new {
  padding: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

.create-new:hover {
  background-color: #e0e0e0;
}

.add-inventory-button {
  margin-bottom: 20px;
}

.add-inventory-button button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-inventory-button button:hover {
  background-color: #218838;
}

.popup-cardview {
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.popup-cardview.active {
  display: block;
}

.popup-content {
  position: absolute;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.inventory-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius:20px;
  cursor: pointer;
}

.add {
  background-color: #007bff;
  color: white;
}

.add:hover {
  background-color: #0056b3;
}

.cancel {
  background-color: #dc3545;
  color: white;
}

.cancel:hover {
  background-color: #c82333;
}
